[submodule "themes/ztyblog"]
	path = themes/ztyblog
	url = https://github.com/zhengzangw/hugo-theme-ztyblog.git
[submodule "public"]
	path = public
	url = https://github.com/zhengzangw/zhengzangw.github.io.git
