baseURL = "https://zhengzangw.com/"
languageCode = "zh-CN"
theme="ztyblog"
copyright="CC BY-NC 4.0"
title = "Welcome"

hasCJKLanguage = true
pygmentsCodeFences = true
pygmentsCodefencesGuessSyntax = false
pygmentsStyle = "colorful"
enableRobotsTXT = true
enableGitInfo = true
Paginate = 10
assetDir=["/assets", "/themes/ztyblog/assets"]

[author]
    name = "Zangwei Zheng"

[outputs]
  home = ["HTML", "RSS", "JSON"]

[blackfriday]
    smartypants = false
    tabSizeDefault = 2

[params]
    author = "Zangwei Zheng"
    description = "Zangwei Zheng's Site"
    copyright = "2017 - 2019, Zangwei Zheng. All rights reserved."
    dateformFull = "2006-01-02 15:04 CST"
    updatelisturl = "https://github.com/zhengzangw/hugo-site/issues"
    mail = "zzw@smail.nju.edu.cn"
    iconfontURL = "//at.alicdn.com/t/font_1559566_kit45x0ln3e.css"
	contentcommithash = "ba74805803a8d6f23820621d3dd40a5b2e8d7501"
	contentcommitdate = "Sat Jan 11 14:15:46 2020 +0800"
	contentcommitcomment = "rebuilding site Sat Jan 11 14:15:46 CST 2020"
	themecommithash = "26f11d3404fd522c0b902f278eaa9de987f6a66c"
	themecommitdate = "Wed Jan 1 15:59:37 2020 +0800"
	themecommitcomment = "pass the appended element to loadPage"
	binarycommithash = "9402b4c9cf56c2e56ff425106d6ba4e26aa0e0f7"
	binarycommitdate = "Sat Jan 11 14:15:48 2020 +0800"
    bangumiseasonstart = "2018"
    [[params.social]]
        identifier = "github"
        name = "Github"
        icon = "icon-github"
        url = "https://github.com/zhengzangw/"
    [[params.social]]
        identifier = "email"
        name = "email"
        icon = "icon-email"
        url = "mailto:zzw@smail.nju.edu.com"
    [params.pagination]
        class = "pagination justify-content-center"
        showFirst = true
        showPrevious = true
        showBeginEnd = true
        previousIndicator = "Previous"
        nextIndicator = "Next"
        pagesBetweenActive = 2
        firstIndicator = '<i class="iconfont icon-back-arrow-"></i>'
        lastIndicator = '<i class="iconfont icon-back-arrow-reverse"></i>'

[menus]
    [[menu.main]]
        identifier = "blog"
        name = "blog"
        url = "/blog/"
        pre = "icon-blog"
        post = "博客"
        weight = 1
    [[menu.main]]
        identifier = "notes"
        name = "notes"
        url = "/notes/"
        pre = "icon-Notes"
        post = "笔记"
        weight = 2
    [[menu.main]]
        identifier = "about"
        name = "about"
        url = "/about/"
        pre = "icon-aboutus"
        post = "关于我"
        weight = 3
    [[menu.second]]
        identifier = "bangumi"
        name = "bangumi"
        url = "/bangumi/"
        pre = "icon-bilibili-line"
        post = "追番列表"
    [[menu.second]]
        identifier = "friends"
        name = "friends"
        url = "/friends/"
        pre = "icon-friend"
        post = "友链"
    [[menu.second]]
        identifier = "resources"
        name = "resources"
        url = "/slides/"
        pre = "icon-resources"
        post = "资源"
    [[menu.second]]
        identifier = "search"
        name = "Search"
        url = "/search/"
        pre = "icon-search"
        post = "站内搜索"