baseURL = "https://zhengzangw.com/"
languageCode = "zh-CN"
theme="ztyblog"
copyright="CC BY-NC 4.0"
title = "Welcome"

hasCJKLanguage = true
pygmentsCodeFences = true
pygmentsCodefencesGuessSyntax = false
pygmentsStyle = "colorful"
enableRobotsTXT = true
enableGitInfo = true
Paginate = 10
assetDir=["/assets", "/themes/ztyblog/assets"]

[author]
    name = "Zangwei Zheng"

[outputs]
  home = ["HTML", "RSS", "JSON"]

[blackfriday]
    smartypants = false

[params]
    author = "Zangwei Zheng"
    description = "Zangwei Zheng's Site"
    copyright = "2017 - 2019, Zangwei Zheng. All rights reserved."
    dateformFull = "2006-01-02 15:04 CST"
    updatelisturl = "https://github.com/zhengzangw/hugo-site/issues"
    mail = "zzw@smail.nju.edu.cn"
    iconfontURL = "//at.alicdn.com/t/font_1559566_kit45x0ln3e.css"
	contentcommithash = "bc8348660911aeb77a806caf1e1c36a1a8fe4894"
	contentcommitdate = "Tue Dec 24 03:00:51 2019 +0800"
	contentcommitcomment = "rebuilding site Tue Dec 24 03:00:51 CST 2019"
	themecommithash = "0d125092c15073b84aa74cd48bfed6aac10e6e99"
	themecommitdate = "Sun Dec 22 15:16:47 2019 +0800"
	themecommitcomment = "initial commit"
	binarycommithash = "e76408f21c201a359e9fa0d32f2717b935e45753"
	binarycommitdate = "Tue Dec 24 03:00:53 2019 +0800"
    bangumiseasonstart = "2018"
    [[params.social]]
        identifier = "github"
        name = "Github"
        icon = "icon-github"
        url = "https://github.com/zhengzangw/"
    [[params.social]]
        identifier = "email"
        name = "email"
        icon = "icon-email"
        url = "mailto:zzw@smail.nju.edu.com"
    [params.pagination]
        class = "pagination justify-content-center"
        showFirst = true
        showPrevious = true
        showBeginEnd = true
        previousIndicator = "Previous"
        nextIndicator = "Next"
        pagesBetweenActive = 2
        firstIndicator = '<i class="iconfont icon-back-arrow-"></i>'
        lastIndicator = '<i class="iconfont icon-back-arrow-reverse"></i>'

[menus]
    [[menu.main]]
        identifier = "blog"
        name = "blog"
        url = "/blog/"
        pre = "icon-blog"
        post = "博客"
        weight = 1
    [[menu.main]]
        identifier = "notes"
        name = "notes"
        url = "/notes/"
        pre = "icon-Notes"
        post = "笔记"
        weight = 2
    [[menu.main]]
        identifier = "about"
        name = "about"
        url = "/about/"
        pre = "icon-aboutus"
        post = "关于我"
        weight = 3
    [[menu.second]]
        identifier = "bangumi"
        name = "bangumi"
        url = "/bangumi/"
        pre = "icon-bilibili-line"
        post = "追番列表"
    [[menu.second]]
        identifier = "friends"
        name = "friends"
        url = "/friends/"
        pre = "icon-friend"
        post = "友链"
    [[menu.second]]
        identifier = "resources"
        name = "resources"
        url = "/slides/"
        pre = "icon-resources"
        post = "资源"
    [[menu.second]]
        identifier = "search"
        name = "Search"
        url = "/search/"
        pre = "icon-search"
        post = "站内搜索"