baseURL = "https://zhengzangw.com/" #Your Site URL
title = "Zheng Zangwei's Site" #Title for the homepage

# Language
DefaultContentLanguage = "en"
hasCJKLanguage = true

# Theme
theme="ztyblog"

# Folder Location
archetypeDir = "archetypes"
contentDir   = "content"
dataDir      = "data"
layoutDir    = "layouts"
publishDir   = "public"

# Building Options
buildDrafts  = false
buildFuture  = false
buildExpored = false
canonifyURLs = true
enableRobotsTXT = true
enableGitInfo   = true
enableEmoji     = true
enableMissingTranslationPlaceholders = false
disableRSS     = false
disableSitemap = false
disable404     = false
disableHugoGeneratorInject = false
rssLimit  = 10 # Maximum number of items in the RSS feed.
Paginate = 10 # Number of Posts per page for blog
copyright= "[![Creative Commons License](https://i.creativecommons.org/l/by-nc/4.0/88x31.png)](http://creativecommons.org/licenses/by-nc/4.0/)"

[author]
    name = "Zangwei Zheng"
[outputs]
    home = ["HTML", "RSS", "JSON"]

# Markdown Render Settings, see https://gohugo.io/getting-started/configuration-markup for detailed explanation
[markup]
    defaultMarkdownHandler = "goldmark"
    [markup.goldmark]
        [markup.goldmark.extensions]
            definitionList = true
            footnote = true
            linkify = true
            strikethrough = true
            table = true
            taskList = true
            typographer = false
        [markup.goldmark.parser]
            attribute = true
            autoHeadingID = true
            autoHeadingIDType = "github"
        [markup.goldmark.renderer]
            hardWraps = false
            unsafe = false # Render HTML in Markdown
            xHTML = false
    # blackfriday for legacy
    [markup.blackfriday]
        hrefTargetBlank = true
        smartypants = false
        tabSizeDefault = 2
    [markup.tableOfContents]
        endLevel = 3
        ordered = false
        startLevel = 2
    [markup.highlight]
        codeFences = true
        guessSyntax = true
        hl_Lines = ""
        lineNoStart = 1
        lineNos = false
        lineNumbersInTable = true
        noClasses = true
        style = "tango"
        tabWidth = 4

[params]
    dateformFull = "2006-01-02 15:04 CST" # Date Format
    description = "Zangwei Zheng's Site" # Description for your site
    keywords = "blog" # Keyworks for searching engine
    useCDN = true # whether use CDN for css/js, true Recommended, if not, use npm and ./load.js to add static file

    # Markdown Render
    mathmode = true # Enable "_" render in mathmode in markdown
    linkicon = true # Add link icon for h1-h6
    tablecenter = true # Correct text-center table align

    # Home Page
    homeimage = "/images/boat.jpg" # Image URL for home page
    homeblend = "blue" # Image blend color: blank, blue, green, red, white
    themecommitinfo = true
    gitinfo = true
    copyright = "2017 - 2020, Zangwei Zheng." # Copyright
    icp = "waiting"
    security = "waiting"
    leonsans = false # Enable animate Welcome

    # 404 Page
    notfoundimage = "/images/dessert.jpg"
    notfoundblend = "red"

    # Comments
    comments = true # whether use disqus comment plugin
    disqusname = "zhengzangw-com"

    # Notes
    updatelist = true
    updatelisturl = "https://github.com/zhengzangw/hugo-site/issues"
    sendcorrect = true
    sendcorrecturl = "zzw@smail.nju.edu.cn"
    
    # Git Info
    ## Git info for whole site
	contentcommithash = "4469ed01a9633610360da341ef07b93a0b1d8f77"
	contentcommitdate = "Wed Mar 25 23:25:54 2020 +0800"
	contentcommitcomment = "rebuilding site Wed Mar 25 23:25:54 CST 2020"
    ## Git info for theme
	themecommithash = "47b9f3299d462a73a06216b43f99ce3351004356"
	themecommitdate = "Tue Mar 3 23:41:23 2020 +0800"
	themecommitcomment = "fix typo in fixing 'mathmode problem'"
	## Git info for site binary
	binarycommithash = "d6e89be02d7d384f965a458f6fa4059b21024297"
	binarycommitdate = "Wed Mar 25 23:25:56 2020 +0800"

    # Bangumi
    bangumiseasonstart = "2018" # After which year, group by season instead of year

    # Search
    enablesearch = true # Enable Search Module; Also add search in menu

    [[params.social]]
        identifier = "github"
        name = "Github"
        icon = "icon-github"
        url = "https://github.com/zhengzangw/"
    [[params.social]]
        identifier = "email"
        name = "email"
        icon = "icon-email"
        url = "mailto:zzw@smail.nju.edu.com"
    
    [params.pagination]
        showFirst = true
        showPrevious = true
        showBeginEnd = true
        pagesBetweenActive = 2

[menus]
    [[menu.main]]
        identifier = "blog"
        name = "blog"
        url = "/blog/"
        pre = "icon-blog"
        post = "博客"
        weight = 1
    [[menu.main]]
        identifier = "notes"
        name = "notes"
        url = "/notes/"
        pre = "icon-Notes"
        post = "笔记"
        weight = 2
    [[menu.main]]
        identifier = "about"
        name = "about"
        url = "/about/"
        pre = "icon-aboutus"
        post = "关于我"
        weight = 3
    [[menu.second]]
        identifier = "friends"
        name = "friends"
        url = "/friends/"
        pre = "icon-friend"
        post = "友链"
        weight = 2
    [[menu.second]]
        identifier = "resources"
        name = "resources"
        url = "/slides/"
        pre = "icon-resources"
        post = "资源"
        weight = 1
    [[menu.second]]
        identifier = "search"
        name = "Search"
        url = "/search/"
        pre = "icon-search"
        post = "站内搜索"
        weight = 3
    # [[menu.second]]
    #     identifier = "portal"
    #     name = "Portal"
    #     url = "/portal/"
    #     pre = "icon-iconentrance"
    #     post = "自定门户"
    #     weight = 4
    # [[menu.second]]
    #     identifier = "bangumi"
    #     name = "bangumi"
    #     url = "/bangumi/"
    #     pre = "icon-bilibili-line"
    #     post = "追番列表"
    #     weight = 1